a.header-anchor {
  color: #409eff;
  text-decoration: none;
}
.content div:not(.el-picker-panel) table:not(.el-table__body, .el-table__header) {
  border-collapse: collapse;
  margin: 1rem 0;
  display: block;
  overflow-x: auto;
}

.content tr:not([class*='el_table']) {
  border-top: 1px solid #dfe2e5;
}
.content tr:nth-child(2n):not([class*='el_table']) {
  background-color: #f6f8fa;
}
.content th:not([class*='el_table']),
.content td:not([class*='el_table']) {
  border: 1px solid #dfe2e5;
  padding: 0.6em 1em;
}

.content:not(.el-picker-panel) table a,
p a {
  border-color: transparent;
  color: #409eff;
  background: transparent;
  padding-left: 0;
  padding-right: 0;
  text-decoration: none;
}
.content {
  color: #5e6d82;
  font-size: 14px;
  line-height: 1.5em;
}
.content h3 {
  margin-top: 40px;
}
