a.header-anchor {
  color: #409eff;
  text-decoration: none;
}
.content table:not([class='el-table__header'], [class='el-table__body']) {
  border-collapse: collapse;
  margin: 1rem 0;
  display: block;
  overflow-x: auto;
}

.content table:not([class='el-table__header'], [class='el-table__body']) tr {
  border-top: 1px solid #dfe2e5;
}
.content tr:nth-child(2n):not(.el-table__row) {
  background-color: #f6f8fa;
}
.content table:not([class='el-table__header'], [class='el-table__body']) th,
.content table:not([class='el-table__header'], [class='el-table__body']) td {
  border: 1px solid #dfe2e5;
  padding: 0.6em 1em;
}

.content:not(.el-picker-panel) table a,
p a {
  border-color: transparent;
  color: #409eff;
  background: transparent;
  padding-left: 0;
  padding-right: 0;
  text-decoration: none;
}
.content {
  color: #5e6d82;
  font-size: 14px;
  line-height: 1.5em;
}
.content h3 {
  margin-top: 40px;
}

.el-table .warning-row {
  background: oldlace;
}

.el-table .success-row {
  background: #f0f9eb;
}
